@model LianAgentPortal.Models.ViewModels.InsuranceTnspMaster.CreateInsuranceTnspMasterViewModel

@{
    ViewData["Title"] = "Upload bảng kê TNSP";
}

<div class="modal fade" id="create-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create" enctype="multipart/form-data" id="upload-form" onsubmit="lockForm()">
                <div class="modal-header ui-jqgrid-titlebar ui-jqgrid-caption ui-widget-header ui-corner-top ui-helper-clearfix">
                    <h1 class="modal-title fs-5">@ViewData["Title"]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </div>

                    <div class="mb-2">
                        <label asp-for="ReportFile" class="control-label"></label>
                        <input asp-for="ReportFile" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        <span asp-validation-for="ReportFile" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <div class="dropdown p-0">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-download" aria-hidden="true"></i> File mẫu
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="~/mau-upload/mau-upload-dai-ly-tnsp.xlsx?"><i class="fa fa-download" aria-hidden="true"></i> Trách Nhiệm Sản Phẩm </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div class="ui-button ui-widget ui-corner-all pe-4 ps-4" data-bs-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i> Hủy </div>
                    <button id="btn-submit" type="submit" class="ui-button ui-widget ui-corner-all pe-4 ps-4"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu </button>

                    <button id="btn-loading" class="ui-button ui-widget ui-corner-all pe-4 ps-4 d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status"> Lưu </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        lockForm = function() {
            $('#btn-submit').attr("disabled", true);
            $('#btn-submit').addClass("d-none");
            $('#btn-loading').removeClass("d-none");
            $("#upload-form :input").prop("readonly", "readonly");
            NProgress.start();
        }


        const myModal = new bootstrap.Modal('#create-modal', {
            keyboard: true,
            backdrop: "static"
        })
        myModal.show();
        myModal._element.addEventListener('hidden.bs.modal', event => {
            window.location.href = "/InsuranceTnspMaster";
        })

        $("#Type").select2({
            closeOnSelect: true,
            dropdownParent: $('#create-modal'),
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
        });

    </script>
}
