
@{
    ViewData["Title"] = "Quản lý bảng kê bảo hiểm";
}
<div class="ui-jqgrid-titlebar ui-jqgrid-caption ui-widget-header ui-corner-top ui-helper-clearfix" style="height: 30px;padding: 0.3em 0.2em 0.2em 0.3em;position: relative;border-left: 0 none;border-right: 0 none;border-top: 0 none;">
    <span class="ui-jqgrid-title">
        @ViewData["Title"]
    </span>
</div>
<table id="gridInsuranceMaster" width="100%"></table>
<div id="pagerInsuranceMaster"></div>

@section Scripts {
    <script>
        gridUser = $("#gridInsuranceMaster");
        gridUser.jqGrid({
            url: '/InsuranceMaster/GetListInsuranceMasterJqgrid',
            mtype: 'GET',
            datatype: "json",
            colNames: ['Mã', 'Người Tạo', 'Ngày Tạo', 'Người Sửa', 'Ngày Sửa', 'Tổng Số Dòng', 'Số Dòng Đã Phát Hành', 'Tổng Phí', 'Tổng Tiền Bảo Hiểm', 'Loại Bảng Kê'],
            colModel: [
                { name: 'Id', index: 'Id', hidden: false, key: true },

                { name: 'UserCreate', index: 'UserCreate', align: "center" },
                { name: 'DateCreate', index: 'DateCreate', formatter: "date", formatoptions: common.configs.grid.datetimeFormatOption, align: "center" },
                { name: 'LastUserUpdate', index: 'LastUserUpdate' },
                { name: 'LastDateUpdate', index: 'LastDateUpdate', formatter: "date", formatoptions: common.configs.grid.datetimeFormatOption, align: "center" },

                { name: 'TotalRows', index: 'TotalRows', formatter: 'integer', align: "right" },
                { name: 'TotalIssuedRows', index: 'TotalIssuedRows', formatter: 'integer', align: "right" },
                { name: 'TotalPremium', index: 'TotalPremium', formatter: 'integer', align: "right" },
                { name: 'TotalInsuranceAmount', index: 'TotalInsuranceAmount', formatter: 'integer', align: "right" },

                { name: 'TypeName', index: 'TypeName', align: "center" },
            ],
            rowNum: 100000,
            autowidth: true,
            rownumbers: true,
            rowList: [100000],
            pager: '#pagerInsuranceMaster',
            sortname: 'DateCreate',
            hidegrid: false,
            viewrecords: true,
            height: window.innerHeight - 170,
            ondblClickRow: function (rowid) {
                window.location.pathname = ('/InsuranceMaster/Edit/' + rowid);
            }
        }).navGrid('#pagerInsuranceMaster', {
            edit: false, add: false, del: false, search: false, refresh: true, view: false, position: "left"
        }).navButtonAdd('#pagerInsuranceMaster', {
            buttonicon: "ui-icon-plusthick",
            title: "Tạo mới",
            caption: "Tạo mới",
            position: "last",
            onClickButton: function () {
                window.location.pathname = ('/InsuranceMaster/Create');
            }
        });
    </script>

    <script>
        resetGridsWidth = function () {
            common.functions.resetGridWidth(gridUser);
        }

        $(window).on("resize", resetGridsWidth);
        resetGridsWidth();
    </script>
}