
@{
    ViewData["Title"] = "Quản lý bảng kê bảo hiểm";
}
<div class="ui-jqgrid-titlebar ui-jqgrid-caption ui-widget-header ui-corner-top ui-helper-clearfix" >
    <span class="ui-jqgrid-title">
        @ViewData["Title"]
    </span>
</div>
<table id="gridInsuranceMaster" width="100%"></table>
<div id="pagerInsuranceMaster"></div>

@section Scripts {
    <script>
        deletableCellFormatter = function (cellvalue, options, rowobject) {
            return '<button type="button" onclick="window.location.href=\'/InsuranceMaster/Delete/' + rowobject.Id + '\'"  class=" h-100 ps-2 pe-2 pt-0 ui-button ui-widget ui-corner-all"> <i class="fa fa-trash" aria-hidden="true"></i> xóa </button>';
        }


        gridUser = $("#gridInsuranceMaster");
        gridUser.jqGrid({
            url: '/InsuranceMaster/GetListInsuranceMasterJqgrid',
            mtype: 'GET',
            datatype: "json",
            colNames: ['Mã', 'Người Tạo', 'Ngày Tạo', 
                //'Người Sửa', 'Ngày Sửa', 
                'Tổng Số Dòng', 'Số Dòng Đã Phát Hành', 'Tổng Phí', 
                'Loại Bảng Kê', 'Xóa'
            ],
            colModel: [
                { name: 'Id', index: 'Id', hidden: false, key: true, align: "center", width: 50 },

                { name: 'UserCreate', index: 'UserCreate', align: "center", width: 100 },
                { name: 'DateCreate', index: 'DateCreate', formatter: "date", formatoptions: common.configs.grid.datetimeFormatOption, align: "center", width: 150 },
                //{ name: 'LastUserUpdate', index: 'LastUserUpdate', width: 100 },
                //{ name: 'LastDateUpdate', index: 'LastDateUpdate', formatter: "date", formatoptions: common.configs.grid.datetimeFormatOption, align: "center", width: 150 },

                { name: 'TotalRows', index: 'TotalRows', formatter: 'integer', align: "right" },
                { name: 'TotalIssuedRows', index: 'TotalIssuedRows', formatter: 'integer', align: "right" },
                { name: 'TotalPremium', index: 'TotalPremium', formatter: 'integer', align: "right" },


                { name: 'Type', index: 'Type', align: "center" },
                { name: 'Delete', index: 'Delete', align: "center", formatter: deletableCellFormatter, width: 100 },
            ],
            rowNum: common.configs.mainGrid.getRowNum(),
            autowidth: true,
            rownumbers: true,
            rowList: common.configs.mainGrid.getRowList(),
            pager: '#pagerInsuranceMaster',
            sortname: 'DateCreate',
            sortorder: "desc",
            hidegrid: false,
            viewrecords: true,
            height: common.configs.mainGrid.getHeight(),
            ondblClickRow: function (rowid) {
                window.location.pathname = ('/InsuranceMaster/ViewDetail/' + rowid);
            }
        }).navGrid('#pagerInsuranceMaster', {
            edit: false, add: false, del: false, search: false, refresh: true, view: false, position: "left"
        }).navButtonAdd('#pagerInsuranceMaster', {
            buttonicon: "ui-icon-plusthick",
            title: "Tạo mới",
            caption: "Tạo mới",
            position: "last",
            onClickButton: function () {
                window.location.pathname = ('/InsuranceMaster/Create');
            }
        });
    </script>

    <script>
        resetGridsWidth = function () {
            common.functions.resetGridWidth(gridUser);
        }

        $(window).on("resize", resetGridsWidth);
        resetGridsWidth();
    </script>
}