@model LianAgentPortal.Models.ViewModels.Authentication.ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi password";
}

<div class="modal fade" id="change-pass-modal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="ChangePassword" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">@ViewData["Title"]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <partial name="_TempDataErrorPartial" />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="OldPassword"></label>
                                <input asp-for="OldPassword" class="form-control" />
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword"></label>
                                <input asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-secondary" data-bs-dismiss="modal">Hủy</div>
                    <button class="btn btn-primary btn-block" type="submit">Đổi password</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const myModal = new bootstrap.Modal('#change-pass-modal', {
            keyboard: true,
            backdrop: true
        })

        myModal._element.addEventListener('hidden.bs.modal', event => {
            window.location.href = "/Account";
        })

        myModal.show();

    </script>

}