@model LianAgentPortal.Models.ViewModels.Authentication.ConfirmChangePasswordViewModel
@{
    ViewData["Title"] = "Xác nhận đổi Password";
}

<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h4>@ViewData["Title"]</h4>
        <form id="change-password-form" method="post" onSubmit="document.getElementById('btn-submit').disabled=true;">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default" id="btn-submit">Xác Nhận Đổi Password</button>
        </form>
    </div>
</div>
