@{
    ViewData["Title"] = "Bảo hiểm đã phát hành";
}
<div class="ui-jqgrid-titlebar ui-jqgrid-caption ui-widget-header ui-corner-top ui-helper-clearfix">
    <span class="ui-jqgrid-title">
        @ViewData["Title"]
        <input id="search" value=""  placeholder="Tìm kiếm" />
    </span>
</div>
<table id="gridLianInsurance" width="100%"></table>
<div id="pagerLianInsurance"></div>

@section Scripts {
    <script>

        gcnCellFormatter = function (cellvalue, options, rowobject) {
            if (cellvalue && cellvalue != '') {
                return '<button type="button"onclick="window.open(\'' + cellvalue + '\')" class=" h-100 ps-2 pe-2 pt-0 ui-button ui-widget ui-corner-all"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> GCN </button>';
            }
            return "";
        }

        gridLianInsurance = $("#gridLianInsurance");
        gridLianInsurance.jqGrid({
            url: '/LianInsurance/GetListLianInsuranceJqgrid',
            beforeRequest: function () {
                gridLianInsurance.jqGrid('setGridParam', {
                    postData: {
                        Search: $("#search").val()
                    }
                });
            },
            loadComplete: function (data) {
                $("#pagerLianInsurance_right").html("");
                $("#sp_1_pagerLianInsurance").html("...");
            },
            mtype: 'GET',
            datatype: "json",
            colNames: ['Transaction', 'Người phát hành', 'GCN', 'Gói', 'Biển số/CMND/CCCD', 'Họ & Tên', 'Từ', 'Đến',
                'Trạng thái', 'Phí BB net', 'Thuế BB vat', 'Phí NNTX', 'Tổng phí', 'Time', 'Tạo Lúc'
            ],
            colModel: [
                { name: 'Transaction', index: 'Transaction', hidden: true, key: true },
                { name: 'UserCreate', index: 'UserCreate', align: "center", sortable: false },
                { name: 'CertificateDigitalLink', index: 'CertificateDigitalLink', align: "center", sortable: false, formatter: gcnCellFormatter, width: 100 },
                { name: 'TypeName', index: 'TypeName', align: "center", sortable: false },

                { name: 'LicensePlates_IdentityNumber', index: 'LicensePlates_IdentityNumber', align: "center", sortable: false },


                { name: 'Fullname', index: 'Fullname', align: "center", sortable: false },
                { name: 'EffectiveDate', index: 'EffectiveDate', align: "center", sortable: false, width: 100 },
                { name: 'ExpiredDate', index: 'ExpiredDate', align: "center", width: 100 },

                
                { name: 'StateName', index: 'StateName', align: "center", sortable: false, width: 100 },

//result.Data[i].NetAmount = netAmount;
//result.Data[i].VatAmount = vatAmount;
//result.Data[i].NntxAmount = nntxAmount;
                { name: 'NetAmount', NetAmount: 'Amount', align: "center", sortable: false, formatter: 'integer', align: "right", width: 80 },
                { name: 'VatAmount', index: 'VatAmount', align: "center", sortable: false, formatter: 'integer', align: "right", width: 80 },
                { name: 'NntxAmount', index: 'NntxAmount', align: "center", sortable: false, formatter: 'integer', align: "right", width: 80 },

                { name: 'Amount', index: 'Amount', align: "center", sortable: false, formatter: 'integer', align: "right", width: 80 },

                { name: 'Time', index: 'Time', align: "center", sortable: false, hidden: true },
                { name: 'CreatedAt', index: 'CreatedAt', align: "center", formatter: "date", formatoptions: common.configs.grid.datetimeFormatOption, align: "center", width: 150 }
            ],
            rowNum: common.configs.mainGrid.getRowNum(),
            autowidth: true,
            rownumbers: true,
            rowList: common.configs.mainGrid.getRowList(),
            pager: '#pagerLianInsurance',
            sortname: 'DateCreate',
            hidegrid: false,
            viewrecords: true,
            height: common.configs.mainGrid.getHeight(),
            ondblClickRow: function (rowid) {
                window.location.pathname = ('/LianInsurance/Detail/' + rowid);
            }
        }).navGrid('#pagerLianInsurance', {
            edit: false, add: false, del: false, search: false, refresh: true, view: false, position: "left"
        });

        $('#search').on("keyup change", function (e) {
            gridLianInsurance.trigger('reloadGrid');
        })


                

    </script>

    <script>
        resetGridsWidth = function () {
            common.functions.resetGridWidth(gridLianInsurance);
        }

        $(window).on("resize", resetGridsWidth);
        resetGridsWidth();
    </script>
}