@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn đến</h1>
    <h1 class="display-4">ĐẠI LÝ LIAN</h1>
    <img src="/images/logo.png" class="img-fluid"/>
</div>
