<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ĐẠI LÝ LIAN</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/jquery-ui.theme.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/npProgress/nprogress.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
    <link href="~/lib/select2/css/select2-bootstrap-5-theme.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <partial name="_MenuPartial" />
    <div class="body-content">
        <partial name="_TempDataErrorPartial" />
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/npProgress/nprogress.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jqGrid/i18n/grid.locale-vi.js"></script>
    <script src="~/lib/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/common.js" asp-append-version="true"></script>
    <script src="~/js/configs.js" asp-append-version="true"></script>

    <script src="~/js/Services/menuService.js" asp-append-version="true"></script>
    <script src="~/js/Services/roleService.js" asp-append-version="true"></script>
    <script src="~/js/Services/sampleCodeService.js" asp-append-version="true"></script>
    <script src="~/js/Services/userService.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
