@using Microsoft.AspNetCore.Identity
@using LianAgentPortal.Models.DbModels
@inject SignInManager<LianUser> SignInManager
@inject UserManager<LianUser> UserManager


<nav class="navbar navbar-expand-md navbar-light shadow-sm">
    <div class="container-fluid">
        <a href="/" class="logo">
            <img src="~/images/logo.png" class="logo">
            <span>LIAN - ĐẠI LÝ</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu-area" aria-controls="menu-area" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ps-3" id="menu-area">
            <ul class="navbar-nav me-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    @if(User.IsInRole(LianAgentPortal.Commons.Constants.AuthenticatorConstants.ADMIN_ROLE))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Index"><i class="fa fa-users" aria-hidden="true"></i> Quản Lý User</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="InsuranceMaster" asp-action="Index"><i class="fa fa-list-alt" aria-hidden="true"></i> Bảng kê Bảo hiểm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="LianInsurance" asp-action="Index"><i class="bi bi-send-check-fill"></i> Bảo hiểm đã phát hành</a>
                    </li>

@*                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-list-alt" aria-hidden="true"></i> Bảng kê Bảo hiểm
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>*@
                }

            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>
