@{
    if (TempData != null)
    {
        var errorMessageTempData = TempData[LianAgentPortal.Commons.Constants.TempDataConstants.TEMP_DATA_ERROR_MESSAGE];
        if (errorMessageTempData != null)
        {
            string errorMessage = errorMessageTempData.ToString();
            if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @errorMessage
                </div>
            }
        }

        var infoMessageTempData = TempData[LianAgentPortal.Commons.Constants.TempDataConstants.TEMP_DATA_INFO_MESSAGE];
        if (infoMessageTempData != null)
        {
            string infoMessage = infoMessageTempData.ToString();
            if (!string.IsNullOrEmpty(infoMessage))
            {
                <div class="alert alert-info" role="alert">
                    <span class="sr-only">Thông Báo:</span>
                    @infoMessage
                </div>
            }
        }
    }

}

