@{
    if (TempData != null)
    {
        var errorMessageTempData = TempData[LianAgentPortal.Commons.Constants.TempDataConstants.TEMP_DATA_ERROR_MESSAGE];
        if (errorMessageTempData != null)
        {
            string errorMessage = errorMessageTempData.ToString();
            if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    @errorMessage
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        }

        var infoMessageTempData = TempData[LianAgentPortal.Commons.Constants.TempDataConstants.TEMP_DATA_INFO_MESSAGE];
        if (infoMessageTempData != null)
        {
            string infoMessage = infoMessageTempData.ToString();
            if (!string.IsNullOrEmpty(infoMessage))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    @infoMessage
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
        }
    }

}

